<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
</head>
<style>

    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-image: url(/static/img/imagens/fundo03.jpeg);
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    h1 {
        color: white;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .casa {
        border-color: white;
        padding-top: 20px;
        position: absolute;
        padding-left: 20px;
        padding-bottom: 20px;
        max-width: 400px;
        width: 70dvw;
        margin: 15px;
        border-radius: 40px;
        margin-top:11dvh;
    }

    .corpo > form > label {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .corpo > form > input {
        border-radius: 30px;
        width: 160px;
    }


    #sala > option {

        background-color: rgba(255, 255, 255, 0.476);
    }

    .botao {
        transition: 0.6s;
    }

    .botao:hover {
        background-color: blue;
        color: white;
        transition: 0.6s;
        padding-top:5px ;
        padding-bottom: 5px;
        margin: 5px;
    }

</style>
<body>
    <h1>Sala de Controle</h1>

    <a href="login" class=""><button style="
        width: 57px;
        max-width: 350px;
        border-radius: 10px;
        height: 25px;
        position: absolute;
        top: 15px;
        left: 8px;" type="" class="botao">Voltar</button></a>

    <div class="casa">
        <div class="corpo">
            <h2>Definir senha da sala</h2>



            <form action="troca_de_senha" id="" method="post">
                <label for="sala_senha">Sala:</label>
                <br>
                <select style="
                border-radius: 40px;
                width: 63dvw;
                height: 25px;
                max-width: 350px;
                background-color: rgba(255, 255, 255, 0.476);
                " name="sala_senha" id="">
                    <option value="administrador">Administrador</option>
                    <option value="1aadm">1°A ADM</option>
                    <option value="1badm">1°B ADM</option>
                    <option value="1ads">1°A DS</option>
                    <option value="1bds">1°B DS</option>

                    <option value="2aadm">2°A ADM</option>
                    <option value="2badm">2°B ADM</option>
                    <option value="2ads">2°A DS</option>
                    <option value="2bds">2°B DS</option>

                    <option value="3aadm">3°A ADM</option>
                    <option value="3badm">3°B ADM</option>
                    <option value="3ads">3°A DS</option>
                    <option value="3bds">3°B DS</option>
                </select>
                <br>
                <br>

                <label for="nova_senha">Nova Senha:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="password" name="nova_senha" id="nova_senha">
                <br><br>


                <button style="
                width: 63dvw;
                max-width: 350px;
                border-radius: 40px;
                height: 25px;" type="reset" class="botao" >Limpar</button><br>

                <button style="
                width: 63dvw;
                max-width: 350px;
                border-radius: 40px;
                height: 25px;" type="submit" class="botao" >Confirmar</button>
            </form>
        </div>
        <br>




        <hr>




        <br>
        <div class="corpo">
            <h2>Pontuação</h2>
            <form action="processamento" id="" method="post" >
                <label for="pontuacao">Sala:</label>
                <br>
                <select style="
                border-radius: 40px;
                width: 63dvw;
                height: 25px;
                max-width: 350px;
                /* background-color: #2a105abb;*/
                background-color: rgba(255, 255, 255, 0.476);" name="sala" id="sala">
                    <option value="1aadm">1°A ADM</option>
                    <option value="1badm">1°B ADM</option>
                    <option value="1ads">1°A DS</option>
                    <option value="1bds">1°B DS</option>

                    <option value="2aadm">2°A ADM</option>
                    <option value="2badm">2°B ADM</option>
                    <option value="2ads">2°A DS</option>
                    <option value="2bds">2°B DS</option>

                    <option value="3aadm">3°A ADM</option>
                    <option value="3badm">3°B ADM</option>
                    <option value="3ads">3°A DS</option>
                    <option value="3bds">3°B DS</option>
                </select>
                <br>
                <br>
                <label for="evento_01">MAPA DO MAROTO:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_01" id="evento_01" value="0">
                <br><br>

                <label for="evento_02">TORNEIO TRI BRUXO:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_02" id="evento_02" value="0">
                <br><br>

                <label for="evento_03">QUADRIBOL:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_03" id="evento_03" value="0">
                <br><br>

                <label for="evento_04">OS LIVROS DA HERMIOSE:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_04" id="evento_04" value="0">
                <br><br>

                <label for="evento_05">X1 DA SALA PRECISA:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_05" id="evento_05" value="0">
                <br><br>

                <label for="evento_06">A ORDEM DA FENIX:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_06" id="evento_06" value="0">
                <br><br>

                <label for="evento_06">PONTUAÇÃO EXTRA:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="evento_07" id="evento_06" value="0"> 
                <br><br>

                <label for="punicoes">PUNIÇÕES:</label><br>
                <input style="
                width: 63dvw;
                max-width: 350px;
                height: 25px;
                border-radius: 40px;
                /* background-color: #2a105abb; */
                background-color: rgba(255, 255, 255, 0.476);
                color: white;" type="number" name="punicoes" id="punicoes" value="0">
                <br><br>

                <button style="
                width: 63dvw;
                max-width: 350px;
                border-radius: 40px;
                height: 25px;" type="submit" class="botao">Confirmar</button><br>

                <button style="
                width: 63dvw;
                max-width: 350px;
                border-radius: 40px;
                height: 25px;" type="reset" class="botao" >Limpar</button><br>
            </form>

            <a href="ranke" class=""><button style="
                    width: 63dvw;
                    max-width: 350px;
                    border-radius: 40px;
                    height: 25px;" type="" class="botao">Rank</button></a>
        </div>
    </div>
</body>
</html>