<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
        }

        body {
            background-image: url(imagens/fundo04.jpeg);
            display: flex;
            justify-content: center;
        }

        div.content {
            background-color: rgba(0, 0, 0, 0.563);
            position: absolute;
            margin-top: 10dvh;
            width: 70dvw;
            max-width: 400px;
            padding-bottom: 20px;
            padding-left: 24px;
            border-radius: 30px;

        }

        .login {
            color: white;
            font-size: 25px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 38%;
        }
    </style>
</head>
<body>
    <div class="content">
        <span class="login" >Login</span>
        <form action="#" id="meuform">
            <label 
            style="color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" for="sala">Sala/Adm</label>
            <br>
            
            <select 
            style="width: 63dvw;
            max-width: 350px;
            height: 25px;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0.359);
            color: white;" name="sala" id="salaa">
                <option value="dono">administrador</option>
                <option value="1aadm">1°A ADM</option>
                <option value="1badm">1°B ADM</option>
                <option value="1ads">1°A DS</option>
                <option value="1bds">1°B DS</option>
                <option value="2aadm">2°A ADM</option>
                <option value="2badm">2°B ADM</option>
                <option value="2ads">2°A DS</option>
                <option value="2bds">2°B DS</option>
                <option value="3aadm">3°A ADM</option>
                <option value="3badm">3°B ADM</option>
                <option value="3ads">3°A DS</option>
                <option value="3bds">3°B DS</option>
                <!-- <option value="dono">administrador</option> -->
            </select>
            <br>
            <br>
            <label style="
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" for="senha">Senha</label>
            <br>

            <input style="
            width: 63dvw;
            max-width: 350px;
            height: 25px;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0.359);
            color: white;
            margin-bottom: 40px;" type="password" name="senha" id="senha">
            <br>
            <button style="
            width: 63dvw;
            max-width: 350px;
            height: 25px;
            border-radius: 40px;" type="submit">Login</button>
            <br>

            <button style="
            width: 63dvw;
            max-width: 350px;
            height: 25px;
            border-radius: 40px;" type="reset">Limpar</button>
        </form>
    </div>

    <script>
        const formulario = document.getElementById('meuform');
        formulario.addEventListener('submit', function(event) {
            const sala = document.getElementById('salaa').value;
            const senha = document.getElementById('senha').value;

            // if (sala === "dono") {
            //     if (senha === variavel(dono)) {
            //         window.location.href = 'administrador.html';
            //         alert("Acesso liberado")
            //         return;
            //     }        
            // }
            

            if (sala === "dono") {
                if (senha === "fhellype") {
                    window.location.href = 'administrador.html';
                    alert("Acesso liberado")
                    return;
                }        
            }

            if (sala === "1aadm") {
                if (senha === "1aadm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "1badm") {
                if (senha === "1badm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "1ads") {
                if (senha === "1ads") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "1bds") {
                if (senha === "1bds") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "2aadm") {
                if (senha === "2aadm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "2badm") {
                if (senha === "2badm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "2ads") {
                if (senha === "2ads") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "2bds") {
                if (senha === "2bds") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "3aadm") {
                if (senha === "3aadm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "3badm") {
                if (senha === "3badm") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "3ads") {
                if (senha === "3ads") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }

            if (sala === "3bds") {
                if (senha === "3bds") {
                    window.location.href = "desafios.html";
                    alert("Acesso liberado");
                    return;
                }
            }
        });
    </script>

</body>
</html>