<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 'SALA:__________ {r[1]} <br> PONTOS:__________{r[10]} <br> <br>' -->

    '<p style="background-color: #2A105A; border-radius: 20px; color: white; font-family: Georgia, 'Times New Roman', Times, serif; padding-top: 10px; padding-left: 10px; padding-bottom: 15px; max-width: 300px;" > SALA:__________ 1°A ADM <br> PONTOS:________800 </p>'

    

</body>
</html>